@use '../utils' as *;

/*----------------------------------------*/
/*  2.15 Offcanvas
/*----------------------------------------*/

// Offcanvas style
.offcanvas {
    &-area {
        background: var(--rs-bg-primary) none repeat scroll 0 0;
        position: fixed;
        inset-inline-end: -100%;
        top: 0;
        width: 450px;
        height: 100%;
        z-index: 999;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        scrollbar-width: none;
        transition: all 0.5s ease-in-out;
        ::-webkit-scrollbar {
            display: none;
        }
        @media #{$xs} {
            width: 100%;
        }
        &.info-open {
            inset-inline-end: 0%;
        }
        .mean-container{
            .mean-nav{
                ul{
                    li{
                        &.active{
                            > a{
                                color: var(--rs-theme-orange);
                            }
                        }
                        a{
                            &.active{
                                color: var(--rs-theme-orange);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-red {
            .offcanvas-close {
                background: var(--rs-theme-red);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-red);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-red);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-red);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-red);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-red);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-red);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-red);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-red);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-red);
                                border-color: var(--rs-theme-red);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-blue {
            .offcanvas-close {
                background: var(--rs-theme-blue);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-blue);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-blue);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-blue);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-blue);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-blue);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-blue);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-blue);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-blue);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-blue);
                                border-color: var(--rs-theme-blue);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-orange {
            .offcanvas-close {
                background: var(--rs-theme-orange);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-orange);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-orange);
                                }
                                &:hover{
                                    color: var(--rs-theme-orange);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-orange);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-orange);
                color: var(--rs-white);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked i,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked i {
                color: var(--rs-white);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-orange);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-orange);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-orange);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-orange);
                                color: var(--rs-white);
                                border-color: var(--rs-theme-orange);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-green {
            .offcanvas-close {
                background: var(--rs-theme-green);
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-green);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-green);
                                }
                                &:hover{
                                    color: var(--rs-theme-green);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-green);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-green);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-green);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-green);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-green);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-green);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-green);
                                border-color: var(--rs-theme-green);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-light-blue {
            .offcanvas-close {
                background: var(--rs-theme-light-blue);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-light-blue);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-light-blue);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-light-blue);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-light-blue);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-light-blue);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-light-blue);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-light-blue);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-light-blue);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-light-blue);
                                border-color: var(--rs-theme-light-blue);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-yellow {
            .offcanvas-close {
                background: var(--rs-theme-yellow);

                &-icon {
                    color: var(--rs-black);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-yellow);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-yellow);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-yellow);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-yellow);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-yellow);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-yellow);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-yellow);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-yellow);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-yellow);
                                border-color: var(--rs-theme-yellow);
                                color: var(--rs-black);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-deep-blue {
            .offcanvas-close {
                background: var(--rs-theme-deep-blue);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-deep-blue);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-deep-blue);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-deep-blue);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-deep-blue);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-deep-blue);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-deep-blue);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-deep-blue);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-deep-blue);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-deep-blue);
                                border-color: var(--rs-theme-deep-blue);
                                color: var(--rs-white);
                            }
                        }
                    }
                }
            }
        }
         &.has-theme-cyan {
            .offcanvas-close {
                background: var(--rs-theme-cyan);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-cyan);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-cyan);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-cyan);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-cyan);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-cyan);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-cyan);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-cyan);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-cyan);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-cyan);
                                border-color: var(--rs-theme-cyan);
                            }
                        }
                    }
                }
            }
        }
        &.has-theme-medium-green {
            .offcanvas-close {
                background: var(--rs-theme-medium-green);

                &-icon {
                    color: var(--rs-white);
                }
            }
            .mean-container {
                .mean-nav {
                    ul {
                        li {
                            &.active{
                                > a{
                                    color: var(--rs-theme-medium-green);
                                }
                            }
                            a{
                                &.active{
                                    color: var(--rs-theme-medium-green);
                                }
                            }
                        }
                    }
                }
            }
            .mean-container .mean-nav ul li a,
            .mean-container .mean-nav ul li span {
                &:hover{
                    color: var(--rs-theme-medium-green);
                }
            }
            .mean-container .mean-nav ul li.dropdown-opened>a,
            .mean-container .mean-nav ul li.dropdown-opened>span {
                color: var(--rs-theme-medium-green);
            }
            .mean-container .mean-nav ul li.dropdown-opened>a.mean-expand.mean-clicked,
            .mean-container .mean-nav ul li.dropdown-opened>span.mean-expand.mean-clicked {
                background: var(--rs-theme-medium-green);
            }
            .mean-container .mean-nav ul li a.mean-expand,
            .mean-container .mean-nav ul li span.mean-expand {
                &:hover {
                    background: var(--rs-theme-medium-green);
                    color: var(--rs-white);
                }
            }
            .offcanvas-contact-text{
                a{
                    &:hover{
                        color: var(--rs-theme-medium-green);
                    }
                }
            }
            .offcanvas-contact-icon{
                svg{
                    path{
                        fill: var(--rs-theme-medium-green);
                    }
                }
            }
            .offcanvas-social{
                ul{
                    li{
                        a{
                            &:hover{
                                background: var(--rs-theme-medium-green);
                                border-color: var(--rs-theme-medium-green);
                            }
                        }
                    }
                }
            }
        }
    }
    &-logo {
        a {
            img {
                width: 180px;
            }
        }
    }
    &-content {
        padding-bottom: 45px;
    }
    &-wrapper {
        position: relative;
        height: 100%;
        padding: 40px 40px;

        @media #{$xs} {
            padding: 30px 30px;
        }
    }
    &-search {
        position: relative;
        button {
            position: absolute;
            top: 50%;
            inset-inline-start: 0;
            transform: translateY(-50%);
            font-size: 16px;
            color: var(--rs-hover-primary);

            &:hover {
                color: var(--rs-theme-primary);
            }
        }
        input {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 25px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #D5D5D5;
            font-size: 18px;
            color: var(--rs-black);
            &::placeholder {
                color: var(--rs-placeholder);
            }
            &:focus {
                border-radius: 0;
            }
        }
    }
    &-title-meta {
        color: var(--rs-title-primary);
        margin-bottom: 20px;
        font-size: 24px;
    }
    &-text {
        & p {
            margin-bottom: 25px;
        }
    }
    &-social {
        margin-bottom: 40px;
        & ul {
            & li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 5px;
                }
                a {
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    color: var(--rs-black);
                    border: 1px solid var(--rs-border-secondary);
                    font-size: 16px;
                    @include border-radius(50%);
                    &:hover {
                        background: var(--rs-theme-orange);
                        color: var(--rs-white);
                        border-color: var(--rs-theme-orange);
                    }
                }
            }
        }
    }
    &-notification {
        &-icon {
            & a {
                font-size: 14px;
                color: var(--rs-white);
                position: relative;

                & .notification-count {
                    position: absolute;
                    top: -4px;
                    right: -13px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 22px;
                    font-size: 12px;
                    font-weight: 600;
                    background-color: var(--rs-theme-primary);
                    @include border-radius(50%);
                    color: var(--rs-white);
                    text-align: center;
                }
            }
        }
        &-text {
            & p {
                margin-bottom: 0;
                font-weight: 500;
                color: var(--rs-white);
                font-size: 14px;
                & .notification-number {
                    color: var(--rs-theme-primary);
                }
                & a {
                    color: var(--rs-theme-primary);
                }
            }
        }
    }
    &-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 99;
        inset-inline-start: 0;
        opacity: 0;
        visibility: hidden;
        @extend %rs-transition-3;
        &:hover {
            cursor: url(../images/shape/cross-out.png), pointer;
        }
        &.overlay-open {
            opacity: 1;
            visibility: visible;
        }
    }
    &-contact {
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                a {
                    &:hover {
                        color: var(--rs-theme-orange);
                    }
                }
                &:hover{
                    svg {
                        path {
                            fill: var(--rs-theme-orange);
                        }
                    }
                }
            }
        }
        &-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-radius: 50%;
            background: transparent;
            color: var(--rs-black);
            border: 1px solid var(--rs-border-secondary);
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            svg {
                width: 15px;
                height: 15px;

                path {
                    fill: var(--rs-theme-orange);
                }
            }
        }
    }
    &-btn {
        .rs-btn {
            border: 1px solid var(--rs-border-secondary);
            padding: 0 12px;
            &:hover {
                border-color: var(--rs-theme-primary);
            }
        }
    }
}

// gallery
.offcanvas-gallery-thumb-wrapper{
    gap:  20px;
      display: flex;
      flex-wrap: wrap;
    .offcanvas-popup-thumb{
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
}

.offcanvas-about{
    p{
        max-width: 350px;
    }
}

// Close icon 
.offcanvas-close {
    width: 45px;
    height: 45px;
    background: var(--rs-theme-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @media #{$xs}{
        width: 40px;
        height: 40px;
    }
}
.offcanvas-close-icon {
    line-height: 1;
    color: var(--rs-white);
    .offcanvas-m-lines {
        position: relative;
        display: block;
        height: 12px;
        width: 20px;
        @media #{$xs}{
            height: 14px;
            width: 18px;
        }
    }
    &.animation--flip {
        .offcanvas-m-line {
            &.line--1 {
                top: 6px;
                transform: rotate(45deg);
            }

            &.line--3 {
                opacity: 0;
                opacity: 0;
            }

            &.line--2 {
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }
    .offcanvas-m-line {
        position: absolute;
        inset-inline-start: 0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        transition: top 0.15s ease, transform 0.3s ease;
        &.line--1 {
            top: 0;
        }
        &.line--2 {
            top: 5px;
        }
        &.line--3 {
            bottom: 0;
            bottom: 0;
        }
    }
    &:hover {
        .offcanvas-m-line {
            animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
            animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;

            &:nth-of-type(2) {
                animation-delay: 0.1s;
            }
        }
    }
}




