@use '../../utils' as *;

/*----------------------------------------*/
/*  3.5.6 Header Style 8
/*----------------------------------------*/

.rs-header{
    &-eight{
        overflow-x: clip;
        @media #{$laptop}{
            padding-inline-start: 0px;
            padding-inline-end: 0px;
        }
        .rs-header-inner {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 99;
            padding-inline-end: 170px;
            padding-inline-start: 170px;
            justify-content: space-between;
            @media #{$laptop}{
                padding-inline-end: 100px;
                padding-inline-start: 100px;
            }
            @media #{$lg}{
                padding-inline-end: 15px;
                padding-inline-start: 15px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .rs-header-logo{
            position: relative;
            z-index: 1;
            img{
                @media #{$mobile}{
                    width: 150px;                }
            }
        }
        .rs-header-right{
            display: flex;
              gap: 30px;
            align-items: center;
        }
        .main-menu {
            li{
                a{
                    padding: 36px 20px;
                }
            }
        }
        .rs-header-search-inner{
            top: 64px;
            @media #{$xl}{
			    top: 68px;
		    }
            @media #{$lg}{
			    top: 64px;
		    }
            @media #{$md}{
                top: 59px;
            }
            @media #{$xs}{
                width: 250px;
            }
        }
        .rs-header-btn{
            @media #{$xl}{
                display: none;
            }
        }
        .rs-sticky{
            .rs-header-left{
                margin-inline-start: 0px;
                margin-top: 0;
            }
            .rs-header-logo-wrapper{
                height: 100px;
                @media #{$laptop}{
                    width: 300px;
                }
                @media #{$lg}{
                    height: 90px;
                }
                @media #{$md}{
                    height: 80px;
                }
                @media #{$mobile}{
                    width: 190px;
                }
            }
            .main-menu {
                li{
                    a{
                        padding: 41px 20px;
                    }
                }
                .submenu{
                    li{
                        a{
                            padding: 15px 20px 15px 20px;
                        }
                    }
                }
                .mega-menu{
                    li{
                        a{
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
            .rs-header-logo-wrapper{
                border-bottom: 0;
            }
        }
    }
}