@use "../../utils" as *;

/*----------------------------------------*/
/*  3.2.3 Postbox css
/*----------------------------------------*/


.rs-postbox-more{
    &-navigation{
        border-radius: 8px;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--rs-border-primary);
        padding-top: 70px;
        margin-top: 70px;
        padding-bottom: 70px;
        @media #{$md,$sm,$xs}{
            padding-top: 60px;
            margin-top: 60px;
            padding-bottom: 60px;
        }
        @media #{$md,$sm,$xs}{
            display: none;
        }
    }
    &-left{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &-right{
        display: flex;
        align-items: center;
        gap: 20px;
        text-align: right;
    }
    &-content{
        a{
            &:hover{
                color: var(--rs-theme-primary);
            }
        }
        p{
            margin-bottom: 10px;
        }
    }
    &-menu{
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: rgba(87, 119, 255, .15);
            &:hover{
                background: var(--rs-theme-primary);
                svg{
                    path{
                        fill: var(--rs-white);
                    }
                }
            }
            svg{
                path{
                    fill: var(--rs-black);
                }
            }
        }
    }
    &-icon{
        .rs-circle-btn{
            width: 60px;
            height: 60px;
            background: var(--rs-theme-primary);
            color: var(--rs-white);
            &:hover{
                background: var(--rs-hover-primary);
            }
        }
    }

}


// postbox style

.rs-postbox{
    &-item{
        &:not(:last-child){
            margin-bottom: 50px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.11);
            padding-bottom: 50px;
            @media #{$xs}{
                margin-bottom: 30px;
                padding-bottom: 30px;
            }
        }
    }
    &-content{
        padding-top: 30px;
    }
    &-thumb{
        position: relative;
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            border-radius: 4px;
            transition: .9s;
        }
    }
    &-tag{
        position: absolute;
        top: 20px;
        inset-inline-start: 20px;
        a{
            color: var(--rs-white);
            font-size: 16px;
            text-transform: capitalize;
            padding: 5px 20px 5px 20px;
            border-radius: 4px;
            background: var(--rs-theme-orange);
            transition: 0.3s;
            &:hover{
                background: #ff5c00;
            }
        }
    }
    &-meta-list{
        display: flex;
        align-items: center;
        gap: 20px 30px;
    }
    &-title{
        margin: 15px 0 15px;
        font-size: 30px;
        @media #{$lg}{
            font-size: 26px;
        }
        a{
            &:hover{
                color: var(--rs-theme-orange);
            }
        }
    }
    &-meta-item{
        position: relative;
        display: flex;
        align-items: center;
        &::before{
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            inset-inline-start: -15px;
            top: 50%;
            background: #616161;
            transform: translate(-50%,-50%);
        }
        &:not(:last-child){
            &::before{
                content: none;
            }
        }
        span{
            font-size: 16px;
        }
        .meta-author{
            font-weight: 700;
            &:hover{
                color: var(--rs-theme-orange);
            }
        }
    }
    &-btn{
        margin-top: 30px;
    }
    &-details{
        &-thumb{
            img{
                width: 100%;
                border-radius: 4px;
            }
        }
        &-title{
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            @media #{$laptop}{
                font-size: 35px;
            }
            @media #{$lg}{
                font-size: 30px;
            }
        }
        &-video{
            position: relative;
            z-index: 1;
            height: 380px;
            margin-bottom: 35px;
            @media #{$lg}{
                height: 300px;
            }
            .rs-video-play-btn{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
            }
        }
        &-bg-thumb{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                border-radius: 8px;
        }
        &-tags{
            margin-bottom: 40px;
            display: flex;
            gap: 15px 8px;
            flex-wrap: wrap;
            span{
                font-weight: 700;
                padding-inline-end: 10px;
            }
            &.tagcloud{
                a{
                    padding: 5px 15px;
                      margin-bottom: 0px;
                      margin-inline-end: 0px;
                      background: var(--rs-bg-primary);
                      border:  none;
                      border-radius: 5px;
                }
            }
        }
        &-comment-title{
            margin-bottom: 20px;
            margin-top: 40px;
        }
        &-comment-inner{
            ul{
                li{
                    list-style: none;
                }
                &.children{
                    margin-inline-start: 77px;
                    @media #{$lg}{
                        margin-inline-start: 0px;
                    }
                    li{
                        border-bottom: 1px solid var(--rs-border-primary);
                        &:first-child{
                            border-top: 1px solid var(--rs-border-primary);
                        }
                    }
                }
            }
        }
        &-avater-meta{
            font-size: 14px;
            margin-bottom: 8px;
            margin-top: 8px;
            display: inline-block;
        }
        &-comment-content{
            P{
                margin-bottom: 20px;
            }
        }
        &-comment-box{
            margin-bottom: 30px;
            padding-top: 30px;
            gap: 20px 30px;
            display: flex;
            align-items: start;
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        &-comment-reply{
            a{
                padding: 6px 20px;
                  background: var(--rs-theme-orange);
                  color: var(--rs-white);
                  font-size: 14px;
                  border-radius: 5px;
                  &:hover{
                    background: rgb(255, 92, 0);
                  }
            }
        }
        &-comment-thumb{
            img{
                width: 70px;
                height: 70px;
                min-width: 70px;
                border-radius: 50%;
            }
        }
    }
    &-quote{
        margin-bottom: 40px;
        blockquote{
             padding: 30px 40px;
              background: var(--rs-bg-primary);
              border-radius:   4px;
              position: relative;
              z-index: 1;
              border-left: 4px solid var(--rs-theme-orange);
            @media #{$mobile}{
                padding: 20px 30px;
            }
            p{
                font-size: 20px;
                font-weight: 500;
                line-height: 1.6;
            }
            cite{
                text-transform: uppercase;
                font-style: normal;
                color: var(--rs-black);
                font-weight: 500;
                &::before{
                    content: "";
                    font-size: 28px;
                    padding-bottom: 0px;
                    display: inline-block;
                    background: var(--rs-black);
                    height: 1px;
                    width: 20px;
                    font-weight: 400;
                    text-align: center;
                    top: -5px;
                    position: relative;
                    left: 0;
                    margin-inline-end: 10px;
                }
            }
            .quote-shape{
                position: absolute;
                inset-inline-end: 30px;
                bottom: 0;
            }
        }
        &.quote-two{
            blockquote{
                position: relative;
                overflow: hidden;
                &:before{
                    content: "\ec51" !important;
                    font-family: remixicon !important;
                    position: absolute;
                    left: auto;
                    right: 30px;
                    bottom: 100px;
                    font-size: 183px;
                    color: rgba(0, 0, 0, 0.05);
                    text-align: center;
                    display: block;
                    border-radius: 50%;
                    height: 0;
                    line-height: 1;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
    &-details-feature{
        margin-bottom: 40px;
        ul{
            display: flex;
            align-items: center;
            gap: 20px 40px;
            flex-wrap: wrap;
            li{
                list-style: none;
                position: relative;
                padding-inline-start: 40px;
                display: flex;
                align-items: center;
                color: var(--rs-black);
                &::before{
                    content: "\eb7b";
                    font-family: remixicon;
                    position: absolute;
                    font-size: 18px;
                    color: var(--rs-theme-orange);
                    width: 22px;
                    height: 22px;
                    border: 2px solid var(--rs-theme-orange);
                    border-radius:   50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    inset-inline-start: 0;
                }
            }
        }
        &-title{
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 20px;
            @media #{$laptop}{
                font-size: 30px;
            }
            @media #{$lg}{
                font-size: 26px;
            }
        }
    }
    &-comment-form{
        .input-box{
            input{
                width: 100%;
                height: 50px;
                outline: 0;
                padding: 0 25px;
                background: var(--rs-white);
            }
            textarea{
                background: var(--rs-white);
                height: 160px;
            }
        }
    }
    &-comment-btn{
        button{
            &:hover{
                background: rgb(255, 92, 0);
            }
        }
    }
}