@use '../../utils' as *;

/*----------------------------------------*/
/*  4.19 services css
/*----------------------------------------*/

.rs-services{
    &-one{
        .rs-services-shape{
            position: absolute;
            top: 0;
            inset-inline-end: 220px;
            z-index: 1;
        }
        .rs-services-btn{
            display: flex;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
        }
        .rs-services-tab{
            .nav-pills{
                display: block;
            }
            .nav-item{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
            .nav-link{
                width: calc(100% + -15px);
                height: 55px;
                background: var(--rs-white);
                display: flex;
                align-items: center;
                justify-content: start;
                position: relative;
                gap: 10px;
                border-radius: 2px;
                font-weight: 700;
                padding: 10px 30px 10px 30px;
                color: var(--rs-text-primary);
                border: 1px solid #EFEBEB;
                transition: all 0.5s ease;
                @media #{$lg}{
                    width: 100%;
                }
                svg{
                    position: absolute;
                    top: 52%;
                    transform: translate(-24px, -50%);
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    @include rtl {
                        transform: translate(-10px, -50%);
                    }
                }
                &.active{
                    background: var(--rs-theme-orange);
                    color: var(--rs-white);
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(20px, -50%);
                        }
                    }
                }
                &:hover{
                    background: var(--rs-theme-orange);
                    color: var(--rs-white);
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(20px, -50%);
                        }
                    }
                }
            }
        }
        .rs-services-tab-content{
            p{
                margin: 15px 0 40px;
            }
        }
        .rs-services-tab-title{
            font-size: 36px;
            @media #{$laptop}{
                font-size: 30px;
            }
            @media #{$lg}{
                font-size: 25px;
            }
            &.has-theme-green{
                color: var(--rs-theme-green);
            }
        }
        .rs-services-tab-list{
            margin-bottom: 20px;
            ul{
                li{
                    list-style: none;
                    position: relative;
                    padding-inline-start: 30px;
                    display: flex;
                    align-items: center;
                    color: var(--rs-title-primary);
                    font-weight: 500;
                    font-size: 16px;
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    &::before{
                        content: "\eb7b";
                        color: var(--rs-theme-orange);
                        font-size: 15px;
                        margin: 0;
                        font-weight: 400;
                        font-family: "remixicon";
                        position: absolute;
                        inset-inline-start: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid var(--rs-theme-orange);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .rs-services-tab-content-thumb{
            margin: 0 0 0 10px;
            height: 100%;
            @media #{$laptop}{
                margin: 0 0 0 0px;
            }
            img{
                width: 100%;
                height: 405px;
                object-fit: cover;
                @media #{$xs}{
                    height: 100%;
                }
            }
            &.has-clip{
                img{
                    clip-path: polygon(0% 0%, 86% 0, 100% 20%, 100% 100%, 0% 100%);
                }
            }
        }
        .rs-services-tab-content{
            margin-inline-start: 30px;
            @media #{$laptop}{
                margin-inline-start: 10px;
            }
        }
        .rs-services-tab-anim {
            .tab-pane.active {
                .rs-services-tab-content-wrapper {
                    -webkit-animation: slide-down 5s ease-out;
                    animation: slide-down 5s ease-out;
                }
            }
        }
        .rs-services-icon{
            @include rtl {
                transform: rotate(-180deg);
            }
        }
        &.has-theme-green{
            .rs-services-tab{
                .nav-pills{
                    display: block;
                }
                .nav-item{
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
                .nav-link{
                    &.active{
                        background: var(--rs-theme-light-green);
                    }
                    &:hover{
                        background: var(--rs-theme-light-green);
                    }
                }
            }
            .rs-services-tab-list{
                margin-bottom: 20px;
                ul{
                    li{
                        &::before{
                            color: var(--rs-theme-light-green);
                            border: 2px solid var(--rs-theme-light-green);
                        }
                    }
                }
            }
        }
    }
    &-two{
        position: relative;
        z-index: 1;
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-end: 0;
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: 30% auto;
            z-index: -1;
        }
        .rs-services-content-wrapper{
            .descrip{
                margin: 20px 0 25px;
            }
        }
        .rs-services-slide-wrapper{
            margin-inline-start: 10px;
            @media #{$laptop}{
                margin-inline-start: 0px;
            }
        }
        .rs-services-content{
            position: relative;
            transition: all 0.5s ease;
            padding: 30px 30px;
            background: var(--rs-white);
            @media #{$laptop}{
                padding: 20px 20px;
            }
        }
        .rs-services-item{
            .descrip{
                margin-bottom: 20px;
            }
            &:hover{
                .rs-services-thumb{
                    img{
                        transform: scale(1.05);
                    }
                }
                .rs-text-btn{
                    color: var(--rs-theme-red);
                }
                .rs-square-btn{
                    background: var(--rs-theme-red);
                    svg{
                        path{
                            fill: var(--rs-white);
                        }
                    }
                }
            }
        }
        .rs-services-text-link{
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                a{
                    color: var(--rs-text-primary);
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        background: var(--rs-text-primary);
                        width: 50px;
                        height: 1px;
                        bottom: 1px;
                        inset-inline-start: 0;
                        transition: all 0.5s ease;
                    }
                    &:hover{
                        color: var(--rs-theme-red);
                        &::before{
                            width: 100%;
                            background: var(--rs-theme-red);
                        }
                    }
                }
        }
        .rs-services-thumb{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                transition: all 0.5s ease;
            }
        }
        .rs-services-btn-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .rs-services-title{
            margin-bottom: 12px;
            a{
                &:hover{
                    color: var(--rs-theme-red);
                }
            }
        }
        .rs-services-navigation{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 60px;
            @media #{$laptop}{
                margin-top: 30px;
            }
        }
        &.has-theme-orange{
            padding-bottom: 350px;
            .rs-services-text-link{
                a{
                    &:hover{
                        color: var(--rs-theme-orange);
                        &::before{
                            background: var(--rs-theme-orange);
                        }
                    }
                }
        }
        .rs-services-title{
            margin-bottom: 12px;
            a{
                &:hover{
                    color: var(--rs-theme-orange);
                }
            }
        }
        .rs-services-item{
            &:hover{
                .rs-text-btn{
                    color: var(--rs-theme-orange);
                }
                .rs-square-btn{
                    background: var(--rs-theme-orange);
                }
            }
        }
        }
    }
    &-three{
        position: relative;
        z-index: 1;
        .rs-services-content-wrapper{
            .descrip{
                margin: 20px 0 25px;
            }
        }
        .rs-services-slide-wrapper{
            margin-inline-start: 10px;
            @media #{$laptop}{
                margin-inline-start: 0px; 
            }
        }
        .rs-services-content{
            position: relative;
            transition: all 0.5s ease;
            padding: 30px 30px;
            background: var(--rs-white);
            @media #{$laptop}{
                padding: 20px 20px;
            }
        }
        .rs-services-number{
            position: relative;
            margin-bottom: 10px;
            height: 60px;
            &::before{     
                position: absolute;
                width: calc(100% - 70px);
                height: 1px;
                z-index: 2;
                inset-inline-end: 0px;
                background: #f5f5f6;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
            }
            &::after{
                position: absolute;
                color: #f5f5f6;
                counter-increment: count;
                content: "0" counter(count);
                z-index: 2;
                inset-inline-start: 0;
                font-size: 52px;
                font-weight: 700;
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
                @media #{$xl}{
                    font-size: 40px;
                }
            }
            
        }
        .rs-services-item{
            position: relative;
            .descrip{
                margin-bottom: 20px;
            }
            &:hover{
                .rs-services-thumb{
                    img{
                        transform: scale(1.05);
                    }
                }
                .rs-square-btn{
                    background: var(--rs-theme-blue);
                    svg{
                        path{
                            fill: var(--rs-white);
                        }
                    }
                }
                .rs-text-btn{
                    color: var(--rs-theme-blue);
                }
                .rs-services-number{
                    &::before{
                        background: var(--rs-theme-blue);
                    }
                    &::after{
                        color: var(--rs-theme-blue);
                    }
                }
            }
        }
        .rs-services-thumb{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                transition: all 0.5s ease;
            }
        }
        .rs-services-btn-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .rs-services-title{
            margin-bottom: 12px;
            a{
                &:hover{
                    color: var(--rs-theme-blue);
                }
            }
        }
        .rs-services-navigation{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 60px;
            @media #{$md}{
                margin-top: 0;
            }
        }
        &.has-theme-blue{
            .rs-services-title{
                color: #0C3C61;
            }
        }
        &.has-theme-orange{
            .rs-services-item{
                &:hover{
                    .rs-square-btn{
                        background: var(--rs-theme-orange);
                        svg{
                            path{
                                fill: var(--rs-white);
                            }
                        }
                    }
                    .rs-text-btn{
                        color: var(--rs-theme-orange);
                    }
                    .rs-services-number{
                        &::before{
                            background: var(--rs-theme-orange);
                        }
                        &::after{
                            color: var(--rs-theme-orange);
                        }
                    }
                }
            }
            .rs-services-content{
                background: var(--rs-bg-primary);
                @media #{$laptop}{
                    padding: 20px 20px;
                }
            }
            .rs-services-title{
                a{
                    &:hover{
                        color: var(--rs-theme-orange);
                    }
                }
            }
            .rs-services-number{
                &::before{     
                    background: #EDEDEF;
                }
                &::after{
                    color: #EDEDEF;
                }
                
            }
            .rs-services-content-wrapper{
                height: 100%;
                @media #{$md}{
                    height: unset;
                }
            }
            .rs-section-title-wrapper{
                height: 100%;
                @media #{$md}{
                    height: unset;
                }
            }
            .rs-services-navigation{
                margin-top: -50px;
                display: flex;
                align-items: center;
                gap: 20px;
                @media #{$md}{
                    margin-top: 0px;
                }
                button{
                    background: #EDEDEF;
                    color: var(--rs-black);
                    &:hover{
                        background: var(--rs-theme-orange);
                        color: var(--rs-white);
                    }
                }
            }
        }
    }
    &-four{
        position: relative;
        overflow-x: clip;
        background: #142340;
        z-index: 2;
        .rs-services-item{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 30px;
            justify-content: space-between;
            &:hover{
                .rs-services-thumb{
                    opacity: 1;
                }
                .rs-services-title{
                    color: var(--rs-theme-red);
                }
                .rs-services-count-number{
                    color: var(--rs-theme-red);
                }
                .rs-services-icon-btn{
                    svg{
                        path{
                            fill: var(--rs-theme-red);
                        }
                    }
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
        }
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center right;
            top: 0;
            background-repeat: no-repeat;
            z-index: -1;
            @media #{$xl}{
                display: none;
            }
            @include rtl {
                transform: rotateY(180deg);
            }
        }
        .rs-services-wrapper{
            padding-inline-end: 140px;
            @media #{$xl} {
                padding-inline-end: 0px;
            }
        }
        .rs-section-title{
            color: var(--rs-white);
        }
        .descrip{
            color: rgba(255, 255, 255, 0.85);
        }
        .has-bg-field{
            background: rgba(255, 255, 255, 0.1);
        }
        .rs-services-thumb{
            position: absolute;
            content: "";
            right: 50px;
            bottom: 30px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease 0s;
            z-index: 1;
            img{
                width: 280px;
            }
        }
        .rs-services-count-number{
            font-size: 24px;
            font-weight: 700;
            color: var(--rs-white);
        }
        .rs-services-title{
            color: var(--rs-white);
            a{
                &:hover{
                    color: var(--rs-theme-red);
                }
            }
        }
        .rs-services-content-wrapper{
            margin: 40px 0px 0px;
        }
        .rs-services-content{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .rs-services-btn{
            margin-top: 60px;
            .has-transparent-btn{
                    svg{
                        width: 20px;
                        height: 20px;
                    }
            }
        }
    }
    &-five{
        .rs-services-item{
            background: var(--rs-white);
            padding: 30px 25px 30px 25px;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 25px;
            @media #{$laptop}{
                padding: 25px 20px 25px 20px;
            }
            @media #{$lg}{
                flex-wrap: wrap;
            }
            &:hover{
                .rs-services-icon{
                    svg{
                        animation: rs-fold linear 0.3s;
                      }
                      &::before{
                        background: var(--rs-theme-orange);
                      }
                }
                .rs-services-title{
                    color: var(--rs-theme-orange);
                }
                .rs-btn{
                    color: var(--rs-theme-orange);
                    svg{
                        fill: var(--rs-theme-orange);
                    }
                }
            }
        }
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-start: 0;
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            border-radius: 5px;
        }
        .rs-services-btn{
            display: flex;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
        }
        .rs-services-icon{
            width: 60px;
            height: 60px;
            background: #FFFFFF26;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            flex: 0 0 auto;
            position: relative;
            z-index: 1;
            &::before{
                position: absolute;
                content: "";
                width: 2px;
                height: 84px;
                background: rgba(255, 255, 255, 0.1);
                bottom: -100px;
                inset-inline-start: 50%;
                transform: translateX(-50%);
                @media #{$lg}{
                    content: none;
                }
            }
            svg{
                width: 40px;
                fill: var(--rs-theme-orange);
            }
        }
        .rs-services-title{
            color: var(--rs-white);
            margin-bottom: 20px;
            a{
                &:hover{
                    color: var(--rs-theme-orange);
                }
            }
        }
        .descrip{
            color: var(--rs-text-secondary);
            margin-bottom: 20px;
        }
    }
    &-six{
        .rs-services-item{
            padding-top: 40px;
            padding-bottom: 40px;
            padding-inline-start: 40px;
            border-radius: 5px;
            background: var(--rs-bg-primary);
            position: relative;
            z-index: 1;
            @media #{$xl}{
                padding-top: 30px;
                padding-bottom: 30px;
                padding-inline-start: 30px;
            }
            @media #{$mobile}{
                padding-top: 25px;
                padding-bottom: 25px;
                padding-inline-start: 25px;
            }
            &::before{
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: var(--rs-theme-light-blue);
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease;
                border-radius: 0 0 5px 5px;
            }
            &:hover{
                &::before{
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                }
                .rs-services-thumb{
                    img{
                        border-radius: 100px 0 0 100px;
                    }
                }
                .rs-btn{
                    .icon-box{
                        svg{
                            path{
                                fill: var(--rs-theme-light-blue);
                            }
                        }
                    }
                }
            }
        }
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-end: 0;
            background-position: top right;
            background-repeat: no-repeat;
            z-index: -1;
        }
        .rs-services-title{
            font-size: 30px;
            margin-bottom: 20px;
            @media #{$xl}{
                font-size: 26px;
            }
            @media #{$lg}{
                font-size: 24px;
            }
            @media #{$mobile}{
                font-size: 22px;
            }
        }
        .descrip{
            max-width: 300px;
            margin-bottom: 20px;
        }
        .rs-services-icon{
            margin-bottom: 25px;
            .rs-btn{
                &:hover{
                    .icon-box{
                        svg{
                            path{
                                fill: var(--rs-theme-blue);
                            }
                        }
                    }
                }
            }
            .icon-box{
                svg{
                    width: 26px;
                }
            }
        }
        .rs-services-thumb{
            img{
                width: 100%;
                transition: all 0.5s ease;
                border-radius: 5px 0 0 0;
            }
        }
        .rs-services-number{
            position: relative;
            z-index: 1;
            margin-bottom: 20px;
            &::before{
                position: absolute;
                color: var(--rs-theme-light-blue);
                counter-increment: count;
                content: "0" counter(count);
                z-index: 2;
                inset-inline-start: 0;
                font-weight: 500;
                top: -10px;
                transition: .3s;
                width: 30px;
                height: 30px;
                background: var(--rs-white);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .rs-services-btn{
            display: flex;
            justify-content: end;
            @media #{$sm}{
                justify-content: start;
            }
        }
        &.has-theme-medium-green{
            background: var(--rs-bg-dark-blue);
            overflow-x: clip;
            .has-space{
                padding-inline-start: 30px;
                padding-inline-end: 30px;
                @media #{$laptop}{
                    padding-inline-start: 15px;
                    padding-inline-end: 15px;
                }
            }
            .rs-section-title{
                color: var(--rs-white);
            }
            .rs-services-item{
                background: var(--rs-bg-dark-blue);
                border: 1px solid rgba(255, 255, 255, 0.05);
                &::before{
                    background: var(--rs-theme-medium-green);
                }
                .descrip{
                    color: rgba(255, 255, 255, 0.69);
                }
                &:hover{
                    .rs-btn{
                        .icon-box{
                            svg{
                                path{
                                    fill: var(--rs-theme-medium-green);
                                }
                            }
                        }
                     }
                }
            }
            .rs-services-title{
                color: var(--rs-white);
            }
            .rs-services-wrapper{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                gap: 20px;
                @media #{$laptop}{
                     grid-template-columns: repeat(4,1fr);
                }
                @media #{$xl}{
                     grid-template-columns: repeat(3,1fr);
                }
                @media #{$md}{
                     grid-template-columns: repeat(2,1fr);
                }
                @media #{$sm}{
                     grid-template-columns: repeat(1,1fr);
                }
            }
            .rs-services-icon{
                .rs-btn{
                    &:hover{
                        .icon-box{
                            svg{
                                path{
                                    fill: var(--rs-theme-medium-green);
                                }
                            }
                        }
                    }
                    .icon-box{
                        svg{
                            path{
                                fill: var(--rs-white);
                            }
                        }
                    }
                }
            }
            .rs-services-number{
                &::before{
                    background: var(--rs-bg-dark-blue);
                    color: var(--rs-theme-medium-green);
                }
            }
            .rs-services-btn{
                @media #{$md}{
                    justify-content: start;
                }
            }
        }
    }
    &-seven{
        position: relative;
        z-index: 2;
        &.has-space{
            padding-bottom: 270px;
        }
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-start: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100px 0px 0px 100px;
            z-index: -1;
            @media #{$sm}{
                border-radius: 50px 0px 0px 50px;
            }
        }
        .rs-services-section-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
        }
        .rs-section-title{
            color: var(--rs-white);
            &.rs-black{
                color: var(--rs-black);
            }
        }
        .descrip {
            max-width: 355px;
            margin: 0;
            color: var(--rs-white);
            @media #{$xl}{
                max-width: 100%;
            }
        }
        .rs-services-item{
            padding: 40px 30px;
            background: var(--rs-theme-green);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
            border-radius: 2px;
            z-index: 1;
            @media #{$xl}{
                padding: 25px 25px; 
            }
            @media #{$sm}{
                padding: 30px 30px; 
            }
            &::before{
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                bottom: 0;
                inset-inline-start: 0;
                background: var(--rs-theme-yellow);
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                border-radius: 0 0 2px 2px;
                z-index: 1;
            }
            &:hover{
                .rs-services-icon-btn{
                    opacity: 1;
                    visibility: visible;
                }
                &::before{
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                }
                .rs-services-title{
                    color: var(--rs-theme-yellow);
                }
            }
        } 
        .rs-services-title{
            color: var(--rs-white);
            a{
                &:hover{
                    color: var(--rs-theme-yellow);
                }
            }
        }
        .rs-services-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;
        }
        .rs-services-icon-btn{
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            line-height: 1;
            .icon-box{
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .rs-services-icon{
            margin-bottom: 45px;
            svg{
                width: 80px;
                height: 80px;
            }
        }
        .descrip-text{
            color: #D4D4D4;
        }
    }
    &-eight{
        position: relative;
        z-index: 1;
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 430px;
            top: 0;
            inset-inline-start: 0;
            z-index: -1;
        }
        .rs-services-content{
            position: relative;
            transition: all 0.5s ease;
            padding: 30px 30px;
            background: var(--rs-bg-primary);
            @media #{$laptop}{
                padding: 25px 25px;
            }
        }
        .rs-services-number{
            position: relative;
            margin-bottom: 10px;
            height: 60px;
            &::before{     
                position: absolute;
                width: calc(100% - 70px);
                height: 1px;
                z-index: 2;
                inset-inline-end: 0px;
                background: #E1E1E5;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
            }
            &::after{
                position: absolute;
                color: #E4E4E4;
                counter-increment: count;
                content: "0" counter(count);
                z-index: 2;
                inset-inline-start: 0;
                font-size: 52px;
                font-weight: 700;
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
                -webkit-text-stroke-width: 1px;
                stroke-width: 1px;
                -webkit-text-fill-color: transparent;
            }
            
        }
        .rs-services-item{
            position: relative;
            .descrip{
                margin-bottom: 20px;
            }
            &:hover{
                .rs-services-thumb{
                    img{
                        transform: scale(1.05);
                    }
                }
                .rs-square-btn{
                    background: var(--rs-theme-yellow);
                    svg{
                        path{
                            fill: var(--rs-black);
                        }
                    }
                }
                .rs-text-btn{
                    color: var(--rs-theme-yellow);
                }
                .rs-services-number{
                    &::before{
                        background: var(--rs-theme-yellow);
                    }
                    &::after{
                        color: var(--rs-theme-yellow);
                        -webkit-text-fill-color:unset;
                    }
                }
            }
        }
        .rs-services-thumb{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                transition: all 0.5s ease;
            }
        }
        .rs-services-btn-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .rs-services-title{
            margin-bottom: 12px;
            a{
                &:hover{
                    color: var(--rs-theme-yellow);
                }
            }
        }
        .rs-services-navigation{
            display: flex;
            gap: 25px;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
        }
    }
    &-nine{
        .rs-services-item{
            &:hover{
                .rs-services-content{
                    transform: translate(0, -10px);
                    &:before{
                        color: var(--rs-theme-orange);
                        -webkit-text-fill-color: unset;
                    }
                }
            }
        }
        .rs-services-thumb{
            img{
                width: 384px;
                height: 310px;
                @media #{$sm}{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .rs-services-content{
            margin-inline-start: 101px;
            margin-top: -55px;
            transition: all 0.3s ease;
            padding: 30px;
            background-color: var(--rs-white);
            border-radius: 15px;
            transform: translate(0);
            position: relative;
            @include rtl {
                margin-inline-start: 0;
            }
            @media #{$laptop}{
                padding: 20px;
            }
            @media #{$lg}{
                margin-inline-start: 95px;
            }
            @media #{$md}{
                margin-inline-start: 80px;
            }
            @media #{$sm}{
                margin-inline-start: 120px;
                margin-top: -95px;
            }
            @media #{$mobile}{
                margin-inline-start: 0;
                margin-top: 0;
            }
            &::before{
                position: absolute;
                color: #E4E4E4;
                counter-increment: count;
                content: "0" counter(count);
                z-index: 2;
                right: 20px;
                font-size: 36px;
                font-weight: 700;
                top: 0px;
                transform: translateY(-50%);
                transition: 0.3s;
                -webkit-text-stroke-width: 1px;
                stroke-width: 1px;
                -webkit-text-fill-color: transparent;
            }
        }
        .rs-services-title{
            margin-bottom: 8px;
            a{
                &:hover{
                    color: var(--rs-theme-orange);
                }
            }
        }
        .rs-services-pagination{
            margin-top: 50px;
            .swiper-pagination{
                position: relative;
            }
        }
    }
    &-ten{
        .rs-services-tab-item{
            position: relative;
            z-index: 1;
            height: 404px;
            @media #{$lg}{
                height: 350px;
            }
            @media #{$xs}{
                height: 300px;
            }
        }
        .rs-services-tab-content{
            position: absolute;
            inset-inline-end: 0;
            z-index: 2;
            bottom: 0;
            text-align: end;
        }
        .rs-services-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .rs-services-descrip {
            max-width: 450px;
            margin-inline-end: 45px;
            margin-bottom: 45px;
            margin-inline-start: 30px;
            @media #{$mobile}{
                margin-inline-end: 30px;
            }
            p{
                color: #040423;
            }
        }
        .rs-services-icon{
            @include rtl {
                transform: rotate(-180deg);
            }
        }
        .rs-services-tab{
            .nav-pills{
                display: block;
            }
            .nav-item{
                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
            .nav-link{
                display: flex;
                align-items: center;
                justify-content: start;
                position: relative;
                gap: 25px;
                font-weight: 500;
                color: var(--rs-text-primary);
                transition: all 0.5s ease;
                font-size: 36px;
                 line-height: 1.1;
                 padding: 0;
                 @media #{$xl}{
                    font-size: 30px;
                 }
                 @media #{$lg}{
                    font-size: 25px;
                 }
                svg{
                    position: absolute;
                    top: 52%;
                    transform: translate(-24px, -50%);
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    @include rtl {
                        transform: translate(24px, -50%);
                    }
                    path{
                        fill: var(--rs-theme-deep-blue);
                    }
                }
                &.active{
                    color: var(--rs-theme-deep-blue);
                    background: transparent;
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(55px, -50%);
                        }
                    }
                        &::before{
                            position: absolute;
                            content: "";
                            width: 0%;
                            height: 2px;
                            background: var(--rs-theme-deep-blue);
                            left: 0;
                            transition: all 0.5s;
                            height: 2px;
                            bottom: 0px;
                            animation-duration: 5000ms;
                         }
                    &::before{
                        animation-name: rs-tab-line;
                        animation-timing-function: linear;
                    }
                }
                &:hover{
                    color: var(--rs-theme-deep-blue);
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(55px, -50%);
                        }
                    }
                }
            }
        }
        .rs-services-tab-anim {
            .tab-pane.active {
                .rs-services-tab-item {
                    -webkit-animation: slide-down 5s ease-out;
                    animation: slide-down 5s ease-out;
                }
            }
        }
        .rs-services-tab-number {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
    &-eleven{
        .rs-services-shape{
            position: absolute;
            top: 0;
            inset-inline-end: 220px;
            z-index: 1;
        }
        .rs-services-btn{
            display: flex;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
        }
        .rs-services-tab{
            .nav-pills{
                display: block;
            }
            .nav-item{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
            .nav-link{
                width: calc(100% + -15px);
                height: 55px;
                background: var(--rs-white);
                display: flex;
                align-items: center;
                justify-content: start;
                position: relative;
                gap: 10px;
                border-radius: 2px;
                font-weight: 700;
                padding: 10px 30px 10px 30px;
                color: var(--rs-text-primary);
                // border: 1px solid #EFEBEB;
                transition: all 0.5s ease;
                @media #{$lg}{
                    width: 100%;
                }
                svg{
                    position: absolute;
                    top: 52%;
                    transform: translate(-24px, -50%);
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    @include rtl {
                        transform: translate(-10px, -50%);
                    }
                }
                &.active{
                    background: var(--rs-theme-cyan);
                    color: var(--rs-white);
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(20px, -50%);
                        }
                    }
                }
                &:hover{
                    background: var(--rs-theme-cyan);
                    color: var(--rs-white);
                    svg{
                        transform: translate(0px, -50%);
                        visibility: visible;
                        opacity: 1;
                        @include rtl {
                            transform: translate(20px, -50%);
                        }
                    }
                }
            }
        }
        .rs-services-tab-content{
            p{
                margin: 15px 0 40px;
                @media #{$sm}{
                    margin: 15px 0 20px;
                }
            }
        }
        .rs-services-tab-title{
            font-size: 36px;
            @media #{$laptop}{
                font-size: 30px;
            }
            @media #{$lg}{
                font-size: 25px;
            }
            &.has-theme-green{
                color: var(--rs-theme-green);
            }
        }
        .rs-services-tab-list{
            margin-bottom: 30px;
            ul{
                li{
                    list-style: none;
                    position: relative;
                    padding-inline-start: 30px;
                    display: flex;
                    // align-items: center;
                    color: var(--rs-title-primary);
                    font-weight: 500;
                    font-size: 16px;
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    &::before{
                        content: "\eb7b";
                        color: var(--rs-theme-cyan);
                        font-size: 15px;
                        margin: 0;
                        font-weight: 400;
                        font-family: "remixicon";
                        position: absolute;
                        inset-inline-start: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid var(--rs-theme-cyan);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 3px;
                    }
                }
            }
        }
        .rs-services-tab-content-thumb{
            // margin: 0 0 0 10px;
            height: 100%;
            @media #{$laptop}{
                margin: 0 0 0 0px;
            }
            img{
                width: 100%;
                height: 574px;
                object-fit: cover;
                @media #{$xs}{
                    height: 100%;
                }
            }
            // &.has-clip{
            //     img{
            //         clip-path: polygon(0% 0%, 86% 0, 100% 20%, 100% 100%, 0% 100%);
            //     }
            // }
        }
        // .rs-services-tab-content{
        //     margin-inline-start: 30px;
        //     @media #{$laptop}{
        //         margin-inline-start: 10px;
        //     }
        // }
        .rs-services-tab-anim {
            .tab-pane.active {
                .rs-services-tab-content-wrapper {
                    -webkit-animation: slide-down 5s ease-out;
                    animation: slide-down 5s ease-out;
                }
            }
        }
        .rs-services-tab-content-wrapper{
            padding-inline-start: 40px;
            @media #{$xl}{
                padding-inline-start: 20px;
            }
            @media #{$sm}{
                padding-bottom: 30px;
                padding-inline-end: 20px;
            }
        }
        .rs-services-icon{
            @include rtl {
                transform: rotate(-180deg);
            }
        }
        .rs-services-tab-box {
            background: var(--rs-bg-primary);
            display: grid;
            grid-template-columns: 360px auto;
            @media #{$lg}{
                 grid-template-columns: 300px auto;
            }
            @media #{$md}{
                 grid-template-columns: auto;
            }
            @media #{$sm}{
                 grid-template-columns: auto;
            }
        }
        .rs-services-tab {
	        padding: 15px 0px 15px 20px;
            @media #{$md}{
                padding: 20px 20px 30px 20px;
            }
        }
        .rs-services-tab-inner {
            display: grid;
            grid-template-columns: 660px auto;
            align-items: center;
            @media #{$laptop}{
                grid-template-columns: 500px auto;
            }
            @media #{$xl}{
                grid-template-columns: 400px auto;
            }
            @media #{$lg}{
                grid-template-columns: 300px auto;
            }
            @media #{$sm}{
                grid-template-columns: auto;
                gap: 25px;
            }
        }
        .rs-services-tab-content {
            padding-inline-start: 60px;
            padding-inline-end: 30px;
            @media #{$laptop}{
                padding-inline-start: 30px;
            }
            @media #{$sm}{
                padding-inline-start: 0px;
                padding-inline-end: 0px;
            }
        }
    }
    &-twelve{
        overflow-x: clip;
        .rs-services-more-btn{
            display: flex;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
        }
        .rs-services-icon{
            width: 80px;
            min-width: 80px;
            height: 80px;
            border: 1px solid #00000012;
            border-radius: 3px 3px 3px 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease 0s;
            svg{
                width: 50px;
                height: 50px;
                path{
                    fill: #616161;
                    transition: all .5s ease 0s;
                }
            }
        }
        .rs-services-btn {
            display: flex;
            justify-content: end;
            @media #{$md}{
                justify-content: start;
            }
                a{
                    transition: all .5s ease 0s;
                }
        }
        .rs-services-item {
            display: grid;
            grid-template-columns: 400px 640px auto;
            align-items: center;
            gap: 30px;
            position: relative;
            border-top: 1px solid var(--rs-border-primary);
            padding-bottom: 40px;
            padding-top: 40px;
            @media #{$xl}{
                grid-template-columns: 400px 550px auto;
            }
            @media #{$lg}{
                grid-template-columns: 380px 400px auto;
            }
            @media #{$md}{
                grid-template-columns: auto;
            }
            &:last-child{
                border-bottom: 1px solid var(--rs-border-primary);
            }
            &:hover{
                .rs-services-thumb{
                    opacity: 1;
                }
                .rs-services-icon{
                    background: var(--rs-black);
                    border-color: var(--rs-black);
                    svg{
                        path{
                            fill: var(--rs-theme-medium-yellow);
                        }
                    }
                }
                .rs-services-btn{
                    a{
                        background: var(--rs-theme-yellow);
                    }
                    .icon-box{
                        svg{
                            fill: var(--rs-black);
                        }
                    }
                }
            }
        }
        .rs-services-descrip {
	        margin-bottom: 0;
        }
        .rs-services-info{
            display: flex;
            align-items: center;
            gap: 40px;
            @media #{$xs}{
                gap: 30px;
            }
        }
        .rs-services-thumb{
            position: absolute;
            inset-inline-end: 150px;
            bottom: -50px;
            opacity: 0;
            pointer-events: none;
            transition: all .5s ease 0s;
            z-index: 1;
            width: 280px;
            @media #{$lg}{
                width: 250px;
            }
            @media #{$md}{
                width: 200px;
            }
            @media #{$xs}{
                width: 150px;
                inset-inline-end: 50px;
                bottom: 30px;
            }
        }
    }
    &-details-wrapper{
        .rs-services-details-thumb{
            margin-bottom: 35px;
            img{
                width: 100%;
                border-radius: 4px;
            }
        }
        .rs-services-details-title{
            font-size: 36px;
            @media #{$lg}{
                font-size: 30px;
            }
            @media #{$xs}{
                font-size: 26px;
            }
        }
        .rs-list-item{
            ul{
                display: grid;
                grid-template-columns: 300px auto;
                align-items: center;
                gap: 8px 0px;
                @media #{$xs}{
                    grid-template-columns: auto;
                }
                li{
                    font-size: 16px;
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: var(--rs-theme-orange);
                    }
                    &:not(:last-child){
                        margin-bottom: 0;
                    }
                }
            }
        }
        .rs-services-details-video{
            min-height: 400px;
            margin-top: 35px;
            margin-bottom: 30px;
            @media #{$lg}{
                min-height: 350px;
            }
            @media #{$sm}{
                min-height: 300px;
            }
            .rs-video-bg-thumb {
                background-position: top center;
                &::before{
                    content: none;
                }
            }
            .rs-play-btn{
                width: 80px;
                height: 80px;
                font-size: 20px;
                &::before{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .rs-services-details-chart-wrapper{
            display: grid;
            grid-template-columns: 400px auto;
            gap: 30px 40px;
            @media #{$laptop}{
                gap: 30px 0px;
            }
            @media #{$lg}{
                grid-template-columns: auto;
            }
        }
        .rs-services-details-chart{
            margin-top: -195px;
            @media #{$laptop}{
                margin-top: -145px;
            }
            @media #{$lg}{
                margin-top: -95px;
            }
            @media #{$xs}{
                margin-top: -75px;
            }
            canvas{
                width: 440px !important;
                height: 440px !important;
                @media #{$laptop}{
                    width: 350px !important;
                    height: 350px !important;
                }
                @media #{$lg}{
                    width: 440px !important;
                    height: 440px !important;
                }
                @media #{$xs}{
                    width: 300px !important;
                    height: 300px !important;
                }
            }
        }
        .has-border-line {
            border-top: 1px solid rgba(31, 31, 31, 0.07);
            padding-bottom: 45px;
            margin-top: -35px;
        }
        .rs-services-details-cta {
            position: relative;
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 60px;
            padding: 40px 40px 40px 40px;
            align-items: center;
            gap: 30px 0;
            @media #{$lg}{
                padding: 30px 30px 30px 30px;
                gap: 30px 30px;
            }
            @media #{$sm}{
                grid-template-columns: repeat(1,1fr);
            }
        }
        .rs-services-details-cta-bg-thumb{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            inset-inline-start: 0;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
        .rs-services-details-cta-thumb{
            display: flex;
            justify-content: end;
            img{
                @media #{$sm}{
                    width: 100%;
                }
            }
        }
    }
}



    
